<header class="main-header">

    <nav class="main-nav">
        <div class="logo">
            logo
        </div>
        <ul class="main-nav-links">
            <li>
                <a href="/language">language</a>
            </li>
            <li>
                <a href="/language">language</a>
            </li>
            <li>
                <a href="/language">language</a>
            </li>
        </ul>
    </nav>

    <div class="main-auth">
        <a href="/login">login</a>
        <a href="/register">register</a>
    </div>

</header>