{% extends 'base.html.twig' %}

{% block title %}Edit LanguageParadigme{% endblock %}

{% block body %}
    <h1>Edit LanguageParadigme</h1>

    {{ include('language_paradigme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_language_paradigme_index') }}">back to list</a>

    {{ include('language_paradigme/_delete_form.html.twig') }}
{% endblock %}
