{% extends 'base.html.twig' %}

{% block title %}New LanguageParadigme{% endblock %}

{% block body %}
    <h1>Create new LanguageParadigme</h1>

    {{ include('language_paradigme/_form.html.twig') }}

    <a href="{{ path('app_language_paradigme_index') }}">back to list</a>
{% endblock %}
