{% extends 'base.html.twig' %}

{% block title %}
	Hello World !
{% endblock %}

{% block header %}
	{% include 'layouts/header.html.twig' %}
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		Welome to our own website !
	</div>

{% endblock %}
